/* Бейдж карточек */
.custom-badge {
  position: absolute !important;
  top: -10px !important;
  left: 15px !important;
}

/* Тени карточек */
.v-card {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
}

.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--box
  .v-select__selections,
.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--enclosed
  .v-select__selections {
  min-height: 32px !important;
}

/* Фикс выбранных элементов для мультиселекта */
.v-chip.v-size--default {
  height: auto !important;
}

/* Фикс высоты модального окна  */
.v-dialog--fullscreen {
  min-height: 100vh !important;
}

.v-timeline--dense .v-timeline-item .v-timeline-item__body > .v-card:before,
.v-timeline--dense .v-timeline-item .v-timeline-item__body .v-card:after {
  display: none;
}

/* .v-card.v-sheet {
  border-radius: 14px !important;
} */

.v-card__title.custom-title {
  padding-right: 50px;
}

/* Переопределяем для мобильных */
.mobile .v-timeline-item__divider {
  display: none;
}

.mobile .v-timeline--dense .v-timeline-item__body {
  max-width: 100%;
}

.mobile .v-timeline--dense:not(.v-timeline--reverse):before {
  display: none;
}
