/* Бейдж карточек */
.custom-badge {
  position: absolute !important;
  top: -10px !important;
  left: 15px !important;
}

/* Тени карточек */
.v-card {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12) !important;
}

.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--box
  .v-select__selections,
.v-select.v-select--chips:not(.v-text-field--single-line).v-text-field--enclosed
  .v-select__selections {
  min-height: 32px !important;
}

/* Фикс выбранных элементов для мультиселекта */
.v-chip.v-size--default {
  height: auto !important;
}

/* Фикс высоты модального окна  */
.v-dialog--fullscreen {
  min-height: 100vh !important;
}

.v-timeline--dense .v-timeline-item .v-timeline-item__body > .v-card:before,
.v-timeline--dense .v-timeline-item .v-timeline-item__body .v-card:after {
  display: none;
}

/* .v-card.v-sheet {
  border-radius: 14px !important;
} */

.v-card__title.custom-title {
  padding-right: 50px;
}

/* Переопределяем для мобильных */
.mobile .v-timeline-item__divider {
  display: none;
}

.v-list-item__title,
.v-list-item__subtitle {
  white-space: normal !important;
}

.mobile .v-timeline--dense .v-timeline-item__body {
  max-width: 100%;
}

.mobile .v-timeline--dense:not(.v-timeline--reverse):before {
  display: none;
}

.theme--dark.v-application {
  background: #1d1f33 !important;
}
.v-application.theme--dark .v-app-bar.v-toolbar.v-sheet,
.v-application.theme--dark .v-btn--absolute.v-btn--right,
.v-application.theme--dark .v-btn--fixed.v-btn--right,
.v-application.theme--dark
  .v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
  background: #322f54 !important;
}
.v-application.theme--dark
  .v-text-field--solo
  > .v-input__control
  > .v-input__slot {
  background: #2c2b4a !important;
}

.v-application.theme--dark .v-btn.v-btn--icon,
.v-application.theme--dark .v-input input,
.v-application.theme--dark .v-icon,
.v-application.theme--dark .v-select .v-select__selection--comma {
  color: #aeaeae !important;
}
.v-application.theme--dark .v-card,
.v-application.theme--dark .v-list,
.v-application.theme--dark .v-picker__body,
.v-application.theme--dark .v-tabs-items,
.v-application.theme--dark .v-data-table,
.theme--dark.v-expansion-panels .v-expansion-panel,
.v-application.theme--dark .v-skeleton-loader .v-skeleton-loader__article,
.v-application.theme--dark .v-skeleton-loader .v-skeleton-loader__list-item,
.v-application.theme--dark
  .v-skeleton-loader
  .v-skeleton-loader__list-item-two-line,
.v-application.theme--dark .v-skeleton-loader .v-skeleton-loader__table-heading,
.v-application.theme--dark .v-skeleton-loader .v-skeleton-loader__table-thead,
.v-application.theme--dark .v-skeleton-loader .v-skeleton-loader__table-tbody,
.theme--dark.v-skeleton-loader .v-skeleton-loader__table-tfoot,
.theme--dark.v-skeleton-loader .v-skeleton-loader__list-item-avatar-three-line {
  background-color: #2c2b4a !important;
}
.v-application.theme--dark .v-navigation-drawer .v-list {
  background-color: inherit !important;
}

.v-application.theme--dark .info {
  background-color: #2c2b4a !important;
  color: #aeaeae !important;
}

.v-application.theme--dark .v-btn.v-btn--icon {
  color: #aeaeae !important;
}

.v-application.theme--dark .quillWrapper .ql-snow.ql-toolbar {
  background: #aeaeae !important;
}

.v-btn--absolute.v-btn--right,
.v-btn--fixed.v-btn--right {
  right: 25px !important;
}

.v-application.theme--dark input:-webkit-autofill,
.v-application.theme--dark input:-webkit-autofill:hover,
.v-application.theme--dark
  input:-webkit-autofill:focus
  .v-application.theme--dark
  input:-webkit-autofill {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #322f54 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.theme--light.v-data-table
  tbody
  tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #f0f0f0 !important;
}

.theme--dark.v-data-table
  tbody
  tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #1c1f3a !important;
}

.v-application--is-ltr .v-data-table__mobile-row__cell {
  text-align: left !important;
}

.v-data-table__mobile-row {
  display: flex !important;
  flex-direction: column !important;
  align-items: baseline !important;
  padding-bottom: 15px !important;
}
